<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proceso</title>
    <link rel="stylesheet" href="../styles.css" />
    <style>
      img {
        width: 400px;
        height: auto;
        margin: 100px;
        display: block;
      }
      .image-right {
        float: right;
        margin-left: 20px;
        width: 200px;
        height: auto;
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./intruduction.html">Introduccion</a></li>

        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="proceso">
        <h2>Comunicador</h2>
        <ol style="margin: 3%">
            <li>
              <p>
                Vas a escribir un pequeño texto que explique el problema, la
                solución y qué quieren lograr con la campaña. Además, prepararás
                la exposición para la presentación final.
              </p>
              <img src="../images/comunicador.webp" alt="Comunicadores" />
              <ul style="margin: 20px">
                <li>
                  Escribe el texto de forma sencilla para que todos lo
                  entiendan.
                </li>
                <li>
                  Ayuda a tus compañeros a practicar lo que dirán en la
                  presentación.
                </li>
                <li>
                  Piensa en cómo convencer a las personas para que apoyen la
                  idea.
                </li>
              </ul>
            </li>
          </ul>
        </ol>
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
