<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduccion</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
      <img src="images/header.jpg" alt="Contaminación" class="main-image" />
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="conclusion">
        <h2>Conclusión</h2>
        <p>
          ¡Felicidades, Guardianes del Planeta! Han dado un paso importante
          hacia un futuro más sostenible, han aprendido muchas cosas importantes
          sobre cómo podemos cuidar nuestro planeta y mejorar el mundo. Su
          trabajo no solo demuestra su creatividad y compromiso, sino que
          también muestra cómo las soluciones locales pueden tener un impacto
          global. Recuerden que la sostenibilidad comienza con pequeñas acciones
          diarias. Recuerden, ser conscientes y responsables con el medio
          ambiente es una tarea de todos, y ahora tienen las herramientas para
          ser verdaderos agentes de cambio. Aunque esta actividad ha terminado,
          el cuidado del medio ambiente no es algo de un solo día. Los invitamos
          a seguir investigando, compartiendo lo que aprendieron y aplicando
          estas ideas en su vida diaria. ¡El planeta los necesita! 🌱🌍
        </p>
        <img src="images/conclusion1.jpg" alt="Soluciones sostenibles" />
        <img src="images/conclusion2.jpg" alt="Futuro verde" />
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
