<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduccion</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
      <img src="images/header.jpg" alt="Contaminación" class="main-image" />
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="creditos" style="margin: 3%">
        <h2>Créditos</h2>
        <p style="line-height: 1.8">
          A continuación, se presentan las fuentes utilizadas para la creación
          de este contenido:
        </p>
        <ul style="line-height: 1.8; padding-left: 20px">
          <li>
            <a
              href="https://www.educo.org/blog/sostenibilidad-explicada-para-ninos-y-ninas"
              target="_blank"
              rel="noopener"
              >Educo: Sostenibilidad explicada para niños y niñas</a
            >
          </li>
          <li>
            <a
              href="https://www.neoenergia.com/es/w/educacao-ambiental-cinco-atividades-educativas-para-ensinar-sustentabilidade-as-criancas-1"
              target="_blank"
              rel="noopener"
              >Neoenergia: Educación ambiental y actividades educativas</a
            >
          </li>
          <li>
            <a
              href="https://universidadeuropea.com/blog/que-es-sostenibilidad-ambiental/"
              target="_blank"
              rel="noopener"
              >Universidad Europea: ¿Qué es la sostenibilidad ambiental?</a
            >
          </li>
          <li>
            <a
              href="https://www.grupoacms.com/consultora/sostenibilidad-ambiental"
              target="_blank"
              rel="noopener"
              >Grupo ACMS: Sostenibilidad ambiental</a
            >
          </li>
          <li>
            <a
              href="https://spain.generation.org/blog/que-es-la-sostenibilidad-ambiental-y-como-la-fomentan-los-empleos-verdes/"
              target="_blank"
              rel="noopener"
              >Generation Spain: ¿Qué es la sostenibilidad ambiental?</a
            >
          </li>
          <li>
            <a
              href="https://www.fundacionwiese.org/blog/es/que-es-la-sostenibilidad-ambiental-y-como-impacta-en-nuestras-vidas/"
              target="_blank"
              rel="noopener"
              >Fundación Wiese: Impacto de la sostenibilidad ambiental</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=MCKH5xk8Xg&pp=ygUOc29zdGVuaWJpbGlkYWQ%3D"
              target="_blank"
              rel="noopener"
              >YouTube: Sostenibilidad ambiental (video)</a
            >
          </li>
          <li>
            <a
              href="https://zonadejuegos.site/?gad_source=1&gclid=CjwKCAiAl4a6BhBqEiwAqvrqusUa5EsrBuF5p4NPQQQfHNwuh2adbWQcSHbBvlV099jLvaS08FVPfBoCoJYQAvD_BwE"
              target="_blank"
              rel="noopener"
              >Zona de Juegos: Recursos educativos</a
            >
          </li>
          <li>
            <a href="https://www.unsdsn.org/" target="_blank" rel="noopener"
              >Red de Soluciones para el Desarrollo Sostenible (SDSN)</a
            >
          </li>
          <li>
            <a href="https://www.ecoembes.com/es" target="_blank" rel="noopener"
              >Ecoembes: Cuidado del medio ambiente</a
            >
          </li>
          <li>
            <a
              href="https://www.un.org/sustainabledevelopment/es/"
              target="_blank"
              rel="noopener"
              >Naciones Unidas: Desarrollo sostenible</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=S6Zxmc1sQnA&pp=ygUOc29zdGVuaWJpbGlkYWQ%3D"
              target="_blank"
              rel="noopener"
              >YouTube: Concientización ambiental (video)</a
            >
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>Web Quest sostendabilidad ambiental | © 2024</p>
      <p>Creado por:Elizabeth Roque Mora | © 2024</p>
      <p>
        Dudas y comentarios de esta web quest comunicarse al correo:
        elizabethroquemora01@gmail.com | © 2024
      </p>
    </footer>
  </body>
</html>
