<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduccion</title>
        <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <header>
        <h1>Web Quest</h1>
        <p></p>
        <img src="images/header.jpg" alt=Contaminación  class="main-image">
    </header>
    
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./intruduction.html">Introducción</a></li>
            <li><a href="./task.html">Tarea</a></li>
            <li><a href="./process.html">Proceso</a></li>
            <li><a href="./resourses.html">Recursos</a></li>
            <li><a href="./evaluation.html">Evaluación</a></li>
            <li><a href="./conclution.html">Conclusión</a></li>
            <li><a href="./guia.html">Guía Didáctica</a></li>
            <li><a href="./credits.html">Créditos</a></li>
        </ul>
    </nav>

    introduccion
    <main>
        <section id="introduccion">
            <h2>Introducción</h2>
            <p>El impacto ambiental se refiere a los efectos que nuestras actividades tienen sobre el medio ambiente. Es fundamental entender estas repercusiones para poder tomar decisiones informadas y responsables.</p>
            <img src="images/introduccion1.jpg" alt="Contaminación ambiental">
            <img src="images/introduccion2.jpg" alt="Deforestación">
        </section>
    </main>
</body>
</html>