<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proceso</title>
    <link rel="stylesheet" href="../styles.css" />
    <style>
      img {
        width: 400px;
        height: auto;
        margin: 100px;
        display: block;
      }
      .image-right {
        float: right;
        margin-left: 20px;
        width: 200px;
        height: auto;
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./intruduction.html">introducción</a></li>

        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="proceso">
        <h2>Diseñadora</h2>
        <ol style="margin: 3%">
            <li>
              <p>
                Tú eres el artista del equipo. Tu misión es crear cosas que
                llamen la atención de las personas, como dibujos, carteles,
                vídeos o imágenes para su campaña.
              </p>
              <img src="../images/disenadora.webp" alt="Diseñadores" />
              <ul style="margin: 20px">
                <li>Usa colores, letras grandes y dibujos interesantes.</li>
                <li>
                  Diseña algo que la gente quiera mirar y que les explique el
                  problema de manera rápida.
                </li>
                <li>Asegúrate de que el trabajo sea claro y creativo.</li>
              </ul>
            </li>
          </ul>
        </ol>
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
