<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia Didáctica</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
                <li><a href="./intruduction.html">introducción</a></li>

        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
<section id="guia">
    <h2>Guía Didáctica</h2>

            <img src="../images/guia_didactica.webp" alt="Investigación local" /><br />

    <p style="line-height: 1.8;">
        <strong>Grado:</strong> 5° de primaria<br>
        <strong>Asignatura:</strong> Múltiples lenguajes, proyectos comunitarios y escolares<br>
        <strong>Duración:</strong> 4 sesiones<br>
        <strong>Tema:</strong> Sostenibilidad ambiental y cuidado del medio ambiente<br>
        <strong>Propósito:</strong> Promover el análisis de problemas ambientales y la generación de soluciones creativas mediante una campaña de concientización.<br>
        <strong>Objetivos:</strong>
        <ul style="margin: 3%;">
            <li>Reflexionar sobre la importancia del cuidado del medio ambiente.</li>
            <li>Identificar los principales problemas ambientales y sus causas.</li>
            <li>Proponer soluciones prácticas y sostenibles a dichos problemas.</li>
            <li>Desarrollar habilidades de investigación, comunicación y trabajo en equipo.</li>
        </ul>
        <strong>Contenidos:</strong>
        <ul style="margin: 3%;">
            <li>El medio ambiente y sus componentes: Elementos naturales, recursos renovables y no renovables.</li>
            <li>Problemas ambientales actuales: Contaminación del aire, agua y suelo, cambio climático, pérdida de biodiversidad, etc.</li>
            <li>Estrategias para el cuidado del medio ambiente: Reducir, reciclar, reutilizar y energías renovables, etc.</li>
        </ul>
        <strong>Sesiones:</strong>
        <ul style="margin: 3%;">
            <li><strong>Sesión 1:</strong> Introducción y organización de equipos</li>
            <li><strong>Sesión 2:</strong> Investigación y planificación</li>
            <li><strong>Sesión 3:</strong> Creación de la campaña</li>
            <li><strong>Sesión 4:</strong> Presentación de las campañas</li>
        </ul>
        <strong>Evaluación:</strong> La evaluación que se llevará a cabo será formativa. Los criterios a considerar en la rúbrica previamente diseñada forman parte fundamental para la evaluación de esta web quest.<br>
        <strong>Comentarios finales:</strong> Esta web quest fue diseñada para un grupo en específico. Las adecuaciones deberán realizarse de acuerdo al grado y necesidades específicas.
    </p>
        <img src="images/guia.jpg" alt="Trabajo en equipo"/>
</section>

    </main>
  </body>
      <footer>
        <p>Web Quest sostendabilidad ambiental | © 2024</p>
        <p>Creado por:Elizabeth Roque Mora | © 2024</p>
        <p>Dudas y comentarios de esta web quest comunicarse al correo: elizabethroquemora01@gmail.com | © 2024</p>
    </footer>
</html>
