<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>introducción</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./intruduction.html">introducción</a></li>
        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="introducción">
        <h2>Introducción</h2>
        <p>
          Vivimos en un mundo lleno de maravillas naturales, pero también
          enfrentamos grandes desafíos ambientales. El cambio climático, la
          contaminación, la deforestación y la pérdida de biodiversidad están
          poniendo en peligro el equilibrio de nuestro planeta. Cada día que
          pasa, las actividades humanas dejan una huella más profunda en los
          ecosistemas, desde las emisiones de gases de efecto invernadero hasta
          el plástico que llena nuestros océanos.
        </p>
        <p>
          Sin embargo, también tenemos la capacidad de marcar la diferencia. A
          través de la sostenibilidad, podemos construir un mundo en el que las
          generaciones futuras puedan disfrutar de un entorno sano y
          equilibrado. La sostenibilidad no solo significa reciclar o apagar las
          luces, sino también desarrollar un enfoque integral que abarque cómo
          vivimos, producimos y consumimos. Es un compromiso para vivir en
          armonía con la naturaleza y utilizar los recursos de manera
          consciente.
        </p>
        <p>
          Imagina que eres parte de un consejo ambiental que tiene la
          oportunidad de cambiar el rumbo de tu planeta. Tu equipo será
          responsable de realizar una campaña de concientización y una propuesta
          de acción para abordar un problema social o ambiental de tu elección,
          importante para movilizar a la sociedad en torno a una causa.
        </p>
        <p>
          Prepárate para explorar, colaborar y convertirte en un verdadero
          Guardián del Planeta. 🌱🌍
        </p>
        <div style="text-align: center">
          <img
            src="../images/introducción.webp"
            alt="Contaminación ambiental"
          />
        </div>
      </section>
    </main>

    <footer>
      <p>Web Quest sostendabilidad ambiental | © 2024</p>
      <p>Creado por:Elizabeth Roque Mora | © 2024</p>
      <p>
        Dudas y comentarios de esta web quest comunicarse al correo:
        elizabethroquemora01@gmail.com | © 2024
      </p>
    </footer>
  </body>
</html>
