<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introducción</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
      <img src="images/header.jpg" alt="Contaminación" class="main-image" />
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="proceso">
        <h2>Proceso</h2>
        <ol style="margin: 3%">
          <li>
            Investiga los principales problemas ambientales en tu localidad.
          </li>
          <br />

          <li>
            Selecciona el papel que desempeñarás para saber qué deberás realizar
            a lo largo de esta campaña:
          </li>
          <ul style="margin: 20px">
            <li>
              <strong>Investigadores</strong>
              <p>
                Son los detectives del equipo. Su trabajo es buscar toda la
                información importante sobre el problema que eligieron. Averigua
                por qué sucede, a quién afecta y cómo se podría solucionar.
              </p>
              <ul style="margin: 20px">
                <li><strong>¿Qué tienes que hacer?</strong></li>
                <ul style="margin: 20px">
                  <li>Busca en internet, libros o pregunta a expertos.</li>
                  <li>
                    Anota todo lo que encuentres y compártelo con tu equipo.
                  </li>
                  <li>
                    Ayuda a que todos tengan claro de qué se trata el problema.
                  </li>
                </ul>
              </ul>
            </li>
            <br />

            <li>
              <strong>Diseñadores</strong>
              <p>
                Tú eres el artista del equipo. Tu misión es crear cosas que
                llamen la atención de las personas, como dibujos, carteles,
                vídeos o imágenes para su campaña.
              </p>
              <br />
              <ul style="margin: 20px">
                <li><strong>¿Qué tienes que hacer?</strong></li>
                <ul style="margin: 20px">
                  <li>Usa colores, letras grandes y dibujos interesantes.</li>
                  <li>
                    Diseña algo que la gente quiera mirar y que les explique el
                    problema de manera rápida.
                  </li>
                  <li>Asegúrate de que el trabajo sea claro y creativo.</li>
                </ul>
              </ul>
            </li>
            <br />

            <li>
              <strong>Comunicadores</strong>
              <p>
                Vas a escribir un pequeño texto que explique el problema, la
                solución y qué quieren lograr con la campaña. Además, prepararás
                la exposición para la presentación final.
              </p>
              <br />
              <ul style="margin: 20px">
                <li><strong>¿Qué tienes que hacer?</strong></li>
                <ul style="margin: 20px">
                  <li>
                    Escribe el texto de forma sencilla para que todos lo
                    entiendan.
                  </li>
                  <li>
                    Ayuda a tus compañeros a practicar lo que dirán en la
                    presentación.
                  </li>
                  <li>
                    Piensa en cómo convencer a las personas para que apoyen la
                    idea.
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
          <br />

          <li>Selección del problema</li>
          <ul style="margin: 20px">
            <li>
              Piensen en una problemática que sea de su agrado. Puede ser cambio
              climático, contaminación, acoso escolar, igualdad de género, etc.
            </li>
            <li>
              Respondan las preguntas que se muestran a continuación, el
              comunicador deberá tomar nota:
            </li>
            <ul style="margin: 20px">
              <li>¿Por qué creen que este problema es importante?</li>
              <li>
                ¿Cómo afecta este problema a las personas o al medio ambiente?
              </li>
              <li>
                ¿Qué ideas de soluciones creativas creen que generaría
                conciencia?
              </li>
              <li>
                ¿Qué pueden aprender los demás con la propuesta que están
                creando?
              </li>
              <li>
                ¿Cómo pueden asegurarse de que su idea realmente funcione?
              </li>
              <li>
                ¿Qué recursos necesitarán para llevar a cabo su propuesta?
              </li>
            </ul>
          </ul>
          <br />

          <li>Investigación</li>
          <ul style="margin: 20px">
            <li>
              Una vez realizada la actividad de los investigadores, todos los
              integrantes discutirán y seleccionarán las ideas principales,
              destacando lo más importante que les servirá para la creación de
              su campaña.
            </li>
          </ul>
          <br />

          <li>Diseño de la campaña</li>
          <ul style="margin: 20px">
            <li>
              El comunicador deberá tomar nota de las ideas que se vayan
              generando.
            </li>
            <li>
              Todos los integrantes discutirán y seleccionarán las ideas
              principales destacando lo más importante que les servirá para la
              creación de su campaña.
            </li>
          </ul>
          <br />

          <li>Preparación de la presentación</li>
          <ul style="margin: 20px">
            <li>
              Practiquen cómo presentar su propuesta. El comunicador realizará
              un breve texto que se expondrá frente a la clase, repartirá lo que
              cada uno va a decir en su presentación de la campaña y verificará
              que todos participen, incluyéndose él o ella misma.
            </li>
            <li>
              Finalmente, presenten su campaña frente al grupo con su material
              audiovisual y sus notas preparadas. Recuerden que el futuro está
              en sus manos.
            </li>
          </ul>

          <p>¡Eso es todo!</p>
        </ol>

        <img src="images/proceso1.jpg" alt="Investigación local" /><br />
        <img src="images/proceso2.jpg" alt="Colaboración para soluciones" />
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
