<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proceso</title>
    <link rel="stylesheet" href="../styles.css" />
    <style>
      img {
        width: 400px;
        height: auto;
        margin: 100px;
        display: block;
      }
      .image-right {
        float: right;
        margin-left: 20px;
        width: 200px;
        height: auto;
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./intruduction.html">Introduccion</a></li>

        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="proceso">
        <h2>Proceso</h2>
        <ol style="margin: 3%">
          <li>
            Investiga los principales problemas ambientales en tu localidad.
          </li>
          <br />

          <li>
            Selecciona el papel que desempeñarás para saber qué deberás realizar
            a lo largo de esta campaña:
          </li>
          <ul style="margin: 20px">
            <li>
              <strong> <a href="./investigator.html">Investigador</a></strong>
            </li>
            <br />

            <li>
              <strong> <a href="./designer.html">Diseñadora</a></strong>
            </li>
            <br />

            <li>
              <strong> <a href="./comunicator.html">Comunicador</a></strong>
            </li>
          </ul>
          <br />

          <li>Selección del problema</li>
          <img
            src="../images/seleccion_del_problema.webp"
            alt="Selección del problema"
            class="image-right"
          />
          <ul style="margin: 20px">
            <li>
              Piensen en una problemática que sea de su agrado. Puede ser cambio
              climático, contaminación, acoso escolar, igualdad de género, etc.
            </li>
            <li>
              Respondan las preguntas que se muestran a continuación, el
              comunicador deberá tomar nota.
            </li>
          </ul>
          <br />

          <li>Investigación</li>
          <img
            src="../images/investigacion.webp"
            alt="Investigación"
            class="image-right"
          />
          <ul style="margin: 20px">
            <li>
              Una vez realizada la actividad de los investigadores, todos los
              integrantes discutirán y seleccionarán las ideas principales,
              destacando lo más importante que les servirá para la creación de
              su campaña.
            </li>
          </ul>
          <br />

          <li>Diseño de la campaña</li>
          <img
            src="../images/diseno_de_la_campana.webp"
            alt="Diseño de la campaña"
            class="image-right"
          />
          <ul style="margin: 20px">
            <li>
              El comunicador deberá tomar nota de las ideas que se vayan
              generando.
            </li>
            <li>
              Todos los integrantes discutirán y seleccionarán las ideas
              principales destacando lo más importante que les servirá para la
              creación de su campaña.
            </li>
          </ul>
          <br />

          <li>Preparación de la presentación</li>
          <img
            src="../images/preparacion_de_la_presentacion.webp"
            alt="Preparación de la presentación"
          />
          <ul style="margin: 20px">
            <li>
              Practiquen cómo presentar su propuesta. El comunicador realizará
              un breve texto que se expondrá frente a la clase, repartirá lo que
              cada uno va a decir en su presentación de la campaña y verificará
              que todos participen, incluyéndose él o ella misma.
            </li>
            <li>
              Finalmente, presenten su campaña frente al grupo con su material
              audiovisual y sus notas preparadas. Recuerden que el futuro está
              en sus manos.
            </li>
          </ul>

          <p>¡Eso es todo!</p>
        </ol>
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
