<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introducción</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
      <img src="images/header.jpg" alt="Contaminación" class="main-image" />
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>

    <main>
      <section id="recursos" style="margin-bottom: 3%">
        <h2>Recursos</h2>
        <ul style="line-height: 1.8; margin-left: 3%">
          <li>
            Aquí tienes una lista de recursos que podrás utilizar para llevar a
            cabo tu campaña. Tienen todo lo necesario para investigar, crear y
            presentar tu campaña de forma creativa y colaborativa. Si deseas
            investigar o consultar otra página, puedes hacerlo siempre y cuando
            verifiques que sea confiable.
          </li>

          <li>
            <strong>Sostenibilidad ambiental:</strong>
            <ul style="margin-left: 3%">
              <li>
                <a
                  href="https://universidadeuropea.com/blog/que-es-sostenibilidad-ambiental/"
                  target="_blank"
                  >Universidad Europea</a
                >
              </li>
              <li>
                <a
                  href="https://www.grupoacms.com/consultora/sostenibilidad-ambiental"
                  target="_blank"
                  >Grupo ACMS</a
                >
              </li>
              <li>
                <a
                  href="https://spain.generation.org/blog/que-es-la-sostenibilidad-ambiental-y-como-la-fomentan-los-empleos-verdes/"
                  target="_blank"
                  >Generation Spain</a
                >
              </li>
              <li>
                <a
                  href="https://www.fundacionwiese.org/blog/es/que-es-la-sostenibilidad-ambiental-y-como-impacta-en-nuestras-vidas/"
                  target="_blank"
                  >Fundación Wiese</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=MCKH5xk8Xg"
                  target="_blank"
                  >Video sobre sostenibilidad</a
                >
              </li>
            </ul>
          </li>

          <li>
            <strong>Propuestas de sostenibilidad ambiental:</strong>
            <ul style="margin-left: 3%">
              <li>
                <a href="https://zonadejuegos.site/" target="_blank"
                  >Zona de Juegos</a
                >
              </li>
              <li>
                <a href="https://www.unsdsn.org/" target="_blank">SDSN</a>
              </li>
              <li>
                <a href="https://www.ecoembes.com/es" target="_blank"
                  >Ecoembes</a
                >
              </li>
              <li>
                <a
                  href="https://www.un.org/sustainabledevelopment/es/"
                  target="_blank"
                  >ONU Sostenibilidad</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=S6Zxmc1sQnA"
                  target="_blank"
                  >Video sobre propuestas</a
                >
              </li>
            </ul>
          </li>

          <li>
            <strong>Páginas para hacer presentaciones:</strong>
            <ul style="margin-left: 3%">
              <li>
                <a href="https://www.capcut.com/es-es/" target="_blank"
                  >CapCut</a
                >
              </li>
              <li><a href="https://www.canva.com" target="_blank">Canva</a></li>
              <li>
                <a href="https://www.powtoon.com" target="_blank">PowToon</a>
              </li>
            </ul>
          </li>

          <li>
            <strong>Otros recursos:</strong> Tu biblioteca local: busca libros
            sobre sostenibilidad y conservación ambiental.
          </li>
        </ul>
        <img
          src="images/recursos.jpg"
          alt="Recursos ambientales"
          style="display: block; margin: 3% auto; max-width: 100%; height: auto"
        />
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
