<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Quest</h1>
      <p></p>
      <img src="images/header.jpg" alt="Contaminación" class="main-image" />
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./task.html">Tarea</a></li>
        <li><a href="./process.html">Proceso</a></li>
        <li><a href="./resourses.html">Recursos</a></li>
        <li><a href="./evaluation.html">Evaluación</a></li>
        <li><a href="./conclution.html">Conclusión</a></li>
        <li><a href="./guia.html">Guía Didáctica</a></li>
        <li><a href="./credits.html">Créditos</a></li>
      </ul>
    </nav>
    <main>
      <section id="tarea">
        <h2>Tarea</h2>

        <p>
          ¡Manos a la obra! Vamos a crear una campaña para ayudar a que más
          personas entiendan un problema importante y sepan cómo podemos
          solucionarlo juntos. Para lograrlo necesitamos:
        </p>
        <ol style="margin: 5%">
          <li>
            Elegir un tema: Piensa en algo que te preocupe o quieras cambiar,
            como cuidar el medio ambiente, evitar el cambio climático, etc.
          </li>

          <li>
            Hacer un plan: Vamos a investigar por qué sucede ese problema, cómo
            afecta a las personas y qué podemos hacer para ayudar y reducirlo.
          </li>

          <li>
            Crear cosas geniales: Diseñaremos videos creativos que expliquen el
            problema de forma fácil y divertida.
          </li>
          <li>
            Explicarlo a otros: Finalmente, presentaremos nuestra campaña al
            grupo mostrando nuestras ideas para que todos entiendan nuestro
            mensaje y quieran ayudar.
          </li>
        </ol>

        <img src="images/tarea1.jpg" alt="Investigación en equipo" />
        <img src="images/tarea2.jpg" alt="Soluciones ambientales" />
      </section>
    </main>
  </body>
  <footer>
    <p>Web Quest sostendabilidad ambiental | © 2024</p>
    <p>Creado por:Elizabeth Roque Mora | © 2024</p>
    <p>
      Dudas y comentarios de esta web quest comunicarse al correo:
      elizabethroquemora01@gmail.com | © 2024
    </p>
  </footer>
</html>
