<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
        <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <header>
        <h1>Web Quest</h1>
        <p></p>
        <img src="images/header.jpg" alt=Contaminación  class="main-image">
    </header>
    
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./intruduction.html">Introducción</a></li>
            <li><a href="./task.html">Tarea</a></li>
            <li><a href="#proceso">Proceso</a></li>
            <li><a href="#recursos">Recursos</a></li>
            <li><a href="#evaluacion">Evaluación</a></li>
            <li><a href="#conclusion">Conclusión</a></li>
            <li><a href="#guia">Guía Didáctica</a></li>
            <li><a href="#creditos">Créditos</a></li>
        </ul>
    </nav>

</body>
</html>